import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


x=np.random.normal(50,5,300)
print(x)

sns.distplot(x, kde=False, bins=5, hist_kws=dict (edgecolor="k", linewidth=10))
plt.xlabel('Interval')
plt.ylabel('Frequency')
plt.show()             



sns.distplot(x,kde=False,bins=24,norm_hist=True,hist_kws=dict(edgecolor="blue",linewidth=5))
plt.xlabel('Intervals')
plt.ylabel('relative Frequency')
plt.show()

